h1{
	color:white;
	font-size: 60px;
	scroll-padding: 10px;
}
p{
	font-family: Consolas;
	color:white;
	font-size: 25px;

}

body{
	margin:0px;
	
	background-color:#b18ecc;
}
#header{
	height:120px;
	background:#e3caf7;
}

div{
	text-align: center;
}
u{
	text-decoration-color: white;
	font-family: impact;
}